{% extends "partials/base.html" %}
{% load static %}

{% block content %}
    <div class="filter">
        <div class="filter-m">
            <div class="by-category">
                <h4>By Category</h4>
                <div>

                    {% for c in categories %}
                    <input type="checkbox" name="checkbox" class="filter-checkbox" data-filter="category" id="" value="{{c.id}}">
                    <label for="a"><div>{{ c.title }}</div></label> <br>
                        
                    {% endfor %}
                    
                </div>
            </div>
            <div class="by-vendor">
                <h4>By Vendor</h4>
                <div>
                    <form action=".">
                        {% for v in vendors %}
                            
                            <input type="checkbox" class="filter-checkbox" data-filter="vendor" value="{{c.id}}">
                            <label for="a">{{ v.title }}</label> <br>
                        {% endfor %}
                        
                        
                        
                    </form>
                </div>
            </div>


            <div class="by-tag">
                <h4>By Tag</h4>
                <div>
                    <div><span>X</span> milk</div>
                    <div><span>X</span> salad</div>
                </div>

            </div>
            <div class="by-price">
                <h4 >By Price</h4>
                <input type="text" id="test">

                <div>
                    
                        <input type="range" id="range" value="{{ min_max_price.price__min|floatformat:2 }}"  class="slider-range"  min="{{ min_max_price.price__min|floatformat:2 }}" max="{{ min_max_price.price__max|floatformat:2 }}" oninput="max_price.value=this.value">
                        <div><span>From: {{ min_max_price.price__min }}</span> <span>To:{{ min_max_price.price__max|floatformat:2 }}</span></div>
                        <input type="number" name="" value="{{ min_max_price.price__min|floatformat:2 }}"  id="max_price" min="{{ min_max_price.price__min|floatformat:2 }}" max="{{ min_max_price.price__max|floatformat:2 }}" placeholder="Current Price" onkeyup="range.value=this.value">
                        
                        <button  id="price-filter-btn" type="button">filter</button>
                        <!-- <input type="checkbox">
                        <label for="a">netlify</label> <br>
                        
                        <input type="checkbox">
                        <label for="a">unilever</label> <br>
                       
                        <input type="checkbox">
                        <label for="a">a</label> <br>

                        <input type="checkbox">
                        <label for="a">a</label> <br>
                        <input type="checkbox">
                        <label for="a">a</label> <br> -->


                    
                </div>
            </div>
        </div>
    </div>
    <div class="prod-info">
        <p>We found 29 items for you </p>
        <div>
            <div>Show</div>
            <div>sort by</div>
        </div>
    </div>

    <div class="prod-list">
        <div class="card" id="filtered-product">
            {% for product in products %}
                <div class="product-card">
                    <div class="badge">-{{ product.get_percentage|floatformat }} <span> </span>%</div>
                    <div class="product-tumb">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">{{ product.Category }} </span>
                        <h4><a href="{% url 'core:product_detail' product.pid %}">{{ product.title }}</a></h4>
                        <p>{{ product.description }}</p>
                        <p>by {{ product.vendor.title }}</p>
                        <div class="product-bottom-details">
                            <div class="product-price"><small>{{ product.old_price }}</small>${{ product.price }}</div>
                            <div class="product-links">
                                <a href=""><i class="fa fa-heart"></i> </a>
                                
                                <a href=""><i class="fa fa-shopping-cart"></i>cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %} 

            {% for product in products %}
                <div class="product-card">
                    <div class="badge">-{{ product.get_percentage|floatformat }} <span> </span>%</div>
                    <div class="product-tumb">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">{{ product.Category }} </span>
                        <h4><a >{{ product.title }} </a></h4>
                        <p>{{ product.description }}</p>
                        <p>by {{ product.vendor.title }}</p>
                        <div class="product-bottom-details">
                            <div class="product-price"><small>{{ product.old_price }}</small>${{ product.price }}</div>
                            <div class="product-links">
                                <a href=""><i class="fa fa-heart"></i></a>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}  
            {% for product in products %}
                <div class="product-card">
                    <div class="badge">-{{ product.get_percentage|floatformat }} <span> </span>%</div>
                    <div class="product-tumb">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">{{ product.Category }} </span>
                        <h4><a href="">{{ product.title }}</a></h4>
                        <p>{{ product.description }}</p>
                        <p>by {{ product.vendor.title }}</p>
                        <div class="product-bottom-details">
                            <div class="product-price"><small>{{ product.old_price }}</small>${{ product.price }}</div>
                            <div class="product-links">
                                <a href=""><i class="fa fa-heart"></i></a>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %} 
            {% for product in products %}
                <div class="product-card">
                    <div class="badge">-{{ product.get_percentage|floatformat }} <span> </span>%</div>
                    <div class="product-tumb">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">{{ product.Category }} </span>
                        <h4><a href="">{{ product.title }}</a></h4>
                        <p>{{ product.description }}</p>
                        <p>by {{ product.vendor.title }}</p>
                        <div class="product-bottom-details">
                            <div class="product-price"><small>{{ product.old_price }}</small>${{ product.price }}</div>
                            <div class="product-links">
                                <a href=""><i class="fa fa-heart"></i></a>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %} 
            {% for product in products %}
                <div class="product-card">
                    <div class="badge">-{{ product.get_percentage|floatformat }} <span> </span>%</div>
                    <div class="product-tumb">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">{{ product.Category }} </span>
                        <h4><a href="">{{ product.title }}</a></h4>
                        <p>{{ product.description }}</p>
                        <p>by {{ product.vendor.title }}</p>
                        <div class="product-bottom-details">
                            <div class="product-price"><small>{{ product.old_price }}</small>${{ product.price }}</div>
                            <div class="product-links">
                                <a href=""><i class="fa fa-heart"></i></a>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %} 
            {% for product in products %}
                <div class="product-card">
                    <div class="badge">-{{ product.get_percentage|floatformat }} <span> </span>%</div>
                    <div class="product-tumb">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">{{ product.Category }} </span>
                        <h4><a href="">{{ product.title }}</a></h4>
                        <p>{{ product.description }}</p>
                        <p>by {{ product.vendor.title }}</p>
                        <div class="product-bottom-details">
                            <div class="product-price"><small>{{ product.old_price }}</small>${{ product.price }}</div>
                            <div class="product-links">
                                <a href=""><i class="fa fa-heart"></i></a>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %} 

            
            



        </div>
    </div>

    <div class="pagination">
        <ul> <!--pages or li are comes from javascript --> </ul>
      </div>
      
{% endblock %}
